<html>
	<head>
		<title>
			Login page
		</title>
	</head>
	<body>
		<center>
			<h1>
				this will be login page
			</h1>
		</center>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<div>
			<center>
				<form method="post">
					{% csrf_token %}
					Username: {{form.username}} <br><br>
					Password: {{form.password}} <br><br>
					<button type="submit"> submit </button>
				</form>
			</center>
		</div>
	</body>
</html>