<html>
	<head>
		<title>
			Sign-up page
		</title>
	</head>
	<body>
		<center>
			<h1>
				Fill the details below and sign in
			</h1>
		</center>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<div>
			<center>
				<h4>
					<form method='post'>
						{% csrf_token %}
						First Name: {{form.first_name}} &nbsp&nbsp
						Last Name: {{form.last_name}} <br><br>
						Colleg : {{form.colleg}} <br><br>
						graduation year: {{form.graduation_year}} <br><br>
						E-mail: {{form.email}} <br><br>
						Username: {{form.username}} <br><br>
						Password: {{form.password}} <br><br>
						Re-type Pass.: {{form.password_rep}} <br><br>
						<button type='submit'> Submit </button>
					</form>
				</h4>
			</center>
		</div>
	</body>
</html>