<html>
	<head>
		<title>
			Lists all questions
		</title>
	</head>
	<body>
		<center>
			<h1>
				HERE's THE LIST OF ALL QUESTIONS!!
			</h1>
		</center>
		<br><br><br>
		{% for question in Questions %}
		<div>
			<h2>
				<a href="{% url 'polls:details' question.id %}">
					Question = {{question.question_text}} <br>
				</a>
				Q_ID = {{question.id}}<br>
				publish_date = {{question.published}} <br><br>
			</h2>
			<br>
			<br>
		</div>
		{% endfor %}

	</body>
</html>