<html>
	<head>
		<title>
			Calculator
		</title>
	</head>
	<body>
		<center>
			<form method="post">
				{% csrf_token %}
				no1: <input type="number" id="no1" name="no1">
				no2: <input type="number" id="no2" name="no2">
				<button type="submit"> submit </button>
			</form>
			sum = {{result}}
		</center>	
	</body>
</html>